.header {
    margin: 0 0rem;
    padding: .5rem 2.5rem;
    align-items: center;
    display: flex;
    justify-content:space-between;
    background-color: black;
    color: black
    ;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 200px;
    height: 100px;
    cursor: pointer;
    background-color: antiquewhite;
}

.user__avatar {
    font-size: 2rem;
}